/* Root styles to ensure easily adjustable and modular site */

:root {
  --dark: #464646;
  --mid: #f7efd6;
  --darklight: #b7af97;
  --light: #22201f;
  --highlight:  #dd5100;
  --bglight: #d7d8cb;
}

/* Ensures all jumpto navigation uses a smooth scroll */

html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  background: var(--bglight);

}

/* Blur animation using keyframes included later in CSS */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  /*animation-name: blur;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: 1; */
  background-color: var(--bglight);
  user-select: none;
}

/* Animated header text using eased transition on letter spacing in place of kerning */

header h4{
  align-items: left;
  font-size: 40px;
  font-family: helvetica;
  letter-spacing: -3px;
  /* transition: 1000ms ease; */
  margin-bottom: .5rem;
  margin-top: -0.8rem;
  color:var(--light);
  outline: none;
  text-align: left;
  flex-wrap: wrap;
  padding-left: 9%;
  margin-top: 2px;
}

/*h4:hover {
  letter-spacing: 5px;
} */

/* Navigation bar that is fixed as a column, and features animated darkened background */

nav {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--darklight);
  text-align: right;
  padding-right: 8%;
  border-style: ;
  box-shadow: inset 0 5px #f8a100;
  font-weight: 500;
  

}

nav a:hover{
  background-color: var(--highlight);
  
}

a {
  text-decoration: none;
  color: inherit;
  
}

nav a {
  color:var(--light);
  padding: 8px ;
  text-decoration: none;
  align-content: right;
  text-align: right;
}

.nav-active {
  background-color: var(--highlight);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  
}

footer {
  width: 100%;
  bottom: 0;
  padding: px;
  text-align: center;
  background: var(--darklight);
  color: var(--light);
  margin-bottom: 5px;
  box-shadow: inset 0 5px #f8a100;
  
}

.projects {
width: 80%;
margin-left: auto;
margin-right: auto;


  
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--mid);
  /* border-radius: 5px; */
  box-shadow: inset 0  5px #f8a100;
  margin-bottom: 10px;
  
  
}

.card-text {
  text-align: left;
  color:var(--light);
  padding: 7px;
  margin-top: 1px;
  margin-bottom: -2px;
  

  

}

/*.card-header {
  display: block;
  text-align: left;
  color:var(--mid);
} */


.break {
  flex-basis: 100%;
  height: 0;
}

/* Project examples with animated grayscale transition and text spacing. Alternatively can have unblur transition (Commented out currently) */

.card:hover {
  /*letter-spacing: 1px;*/
}

.card .cover-image {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;

  /* z-index: -1; for blur purposes*/
  filter: grayscale(50%);
  transition: filter 0.15s linear; 
}

.card:hover .cover-image{
  filter: grayscale(0);

  
}

.card img {
  transition: transform .8s linear;
  /*transform: scale(1.05); for blur purposes to ensure blur is restricted to image with no overwrite*/
}

/* Option for images to enlarge on mouse over - currently disabled (set to 1x) as functionality is not clean enough to use */

.card img:hover{
  transform: scale(1.00);
  filter: blur(10px);
  cursor: pointer;
}

/* Commented out function to remove project headers from site, shifting view to a content stream style */

/* .hide{
  display: none;
} */

.biography {
  padding: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color:var(--mid);
  color:var(--light);
  box-shadow: inset 0 5px #f8a100;
  margin-bottom: auto;
}

.biography-text {
  text-align: left;
  color:var(--light);
  padding: 7px;
  margin-top: 1px;
  margin-bottom: -2px;
}

.contact {
  margin-bottom: auto;
  padding: 10px;
  width: 80%;
text-align: center;
padding: 30px;
  background-color:var(--mid);
  color:var(--light);
  box-shadow: inset 0 5px #f8a100;

  margin-left: auto;
margin-right: auto;


}

.contact-form {

  width: 80%;
text-align: center;
padding: 30px;
  background-color:var(--mid);
  color:var(--light);
  box-shadow: inset 0 5px #f8a100;

  margin-left: auto;
margin-right: auto;
 margin-bottom: auto;
}

.biography p {
text-align: left;
  color:var(--light);
  padding: 20px;
  margin-top: 1px;
  margin-bottom: -2px;
  
} 

.profile-pic{
width: 15rem;
height: 15rem;
object-fit: contain;
float: right;
padding: 20px;
border-radius: 10000px;
}

.links {
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color:var(--dark);
  color:var(--light);
  text-align: center;
  list-style-type: none;
}

.links p {
  margin-top: -5px;
  text-align: center;
  align-items: center;
} 

/*Animation keyframes for initial page blur, as well as rules for viewport size to adjust flex direction and profile pic size */

@keyframes blur{
  from {filter:blur(10px);}
  to {filter:blur(0px);}
}

@media screen and (max-width: 768px) {
  main {

  }
}

@media screen and (max-width: 768px) {
  .card {
    /* flex-direction: column; */
  }
  .card .cover-image {
    width: 12rem;
  height: 12rem;
  }
  /* .card-text{
    padding-left: 5px;
  margin-top: 10px;
  } */
}

@media screen and (max-width: 768px) {
    .profile-pic{
      max-width: 70%;
  }
}